@import url("./reset.css");

body {
    display: flex;
    flex-direction: column;
    background-color: #b1b5be;
    color: white;
    padding: 2em;
    height: 100vh;
}

.block {
    font-size: x-large;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    min-height: 3em;
    width: 100%;
    padding: 0.1em;
    border-radius: 10px;
    margin: 0.25em auto;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

header {
    background-color: #9f2063;
}

aside {
    background-color: #116395;
}

footer {
    background-color: #e16a26;
}

.main {
    flex: 1;
    display: flex;
    align-content: space-between;
    background-color: #15b87a;
    gap: 0.55em;
    padding: 0.5em;
}

article {
    background-color: #e4195b;
    display: flex;
    font-size: medium;
    height: 30%;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

@media (min-width: 900px) {
    .flex-container {
        flex-flow: row-reverse nowrap;
        width: 100%;
        gap: 1em;
    }

    aside {
        flex: 1;
    }

    .main {
        flex: 2;
    }
}