@import url("./reset.css");

body {
    background-color: #b1b5be;
    color: white;
    padding: 2em;
    width: 100%;
}

.block {
    font-size: x-large;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    padding: 0.1em;
    border-radius: 10px;
    margin: 0.25em auto;
}


header {
    background-color: #9f2063;
}

aside {
    background-color: #116395;
}

footer {
    background-color: #e16a26;
}

.article-container {
    background-color: #15b87a;
    gap: 0.55em;
    padding: 0.55em 0.4em;

}

article {
    background-color: #e4195b;
    display: flex;
    font-size: medium;
    height: 3.25em;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
